<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olus.olingo4.nnmrls.dao.mappers.ParagonRawAgentMapper">
    <select id="selectParagonRawAgents" resultType="map">
        select *
        from ParagonRawAgent
    </select>

    <select id="selectParagonRawAgentsLimited" resultType="map">
        select *
        from ParagonRawAgent
        limit 20
    </select>

    <select id="selectParagonRawAgentById" resultType="map">
        select *
        from ParagonRawAgent where User_Code=#{id}
    </select>
</mapper>