<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!-- Register the HttpServlet implementation -->
    <servlet>
        <servlet-name>NnmrlsServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.NmrlsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OAuthCallbackServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.OAuthCallbackServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.AuthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
        Our OData service can be invoked at
        http://localhost:8080/Nnmrls/NnmrlsService.svc
    -->
    <servlet-mapping>
        <servlet-name>NnmrlsServlet</servlet-name>
        <url-pattern>/NnmrlsService.svc/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.olus.olingo4.nnmrls.web.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>OAuthFilter</filter-name>
        <filter-class>com.olus.olingo4.nnmrls.web.filter.OAuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OAuthFilter</filter-name>
        <url-pattern>/NnmrlsService.svc/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/NnmrlsService.svc/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OAuthFilter</filter-name>
        <url-pattern>/NnmrlsService.svc/auth</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>OAuthCallbackServlet</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>