<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!-- Register the HttpServlet implementation -->
    <servlet>
        <servlet-name>NnmrlsServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.NmrlsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>com.olus.olingo4.nnmrls.web.SigninServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
        Our OData service can be invoked at
        http://localhost:8080/Nnmrls/NnmrlsService.svc
    -->
    <servlet-mapping>
        <servlet-name>NnmrlsServlet</servlet-name>
        <url-pattern>/NnmrlsService.svc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.olus.olingo4.nnmrls.web.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/NnmrlsService.svc/*</url-pattern>
    </filter-mapping>
</web-app>